/* animation*/
.lesson span{
  width: 130px;
  height: 30px;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: ease-in-out
  }

  @keyframes mymove {
    0%   {left:0px; top:0px;}
    25%  {left:50px; top:0px;}
    100% {left:0px; top:0px;}
  }
.landing-container span{
  background-color: red;
  animation: example 4s infinite;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* Respondsive*/ 
  
 



/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .heading h2 {
    font-size: 20px;
  }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  
  .btn {
    width: 100%;
  }

  .landing-container{
    width: 50%;
  }


  footer {
    text-align: center;
    position: sticky;
  }

  .container{
    display: none;
  }

  .card {
    width: 100%;
    display: inline;
  }
  
  image{
    width: 100%;
  }

  .header-right {
    display: none;
  }
  
  
  .menu-icon {
    display: block;
  }
  
  .lesson-container{
    position: sticky;
  }


 


  
 
  
}