body {
    font-family: "Roboto", sans-serif;
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, div {
    margin: 0;
    padding: 0;
}

/* INI HEADER */
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.8);
    position: fixed;
    top: 0;
    z-index: 10;
}
.header-left {
    float: left;
}
.header-container {
    width: 1170px;
    padding: 0 5px;
    margin: 0 auto;
}
.logo {
    height: 65px;
    transition: all 0.5s;
}
.logo:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
}
.header-right {
    float: right;
}
.header-right a {
    line-height: 65px;
    color: white;
    padding: 0 30px;
    transition: all 0.5s;
    display: inline-block;
}
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
  
}

/* INI MAIN */

/* INI LANDING PAGE */

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.landing-container {
  width: 1170px;
  margin: 0 auto;
}
.landing-page{
  padding-top:80px;
  padding-bottom:50px;
  background-image:url("image/sharpen.jpg");
  background-size: cover;
  color:black;
  text-align: center;
}
.landing-page h1{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.landing-page h2{
  margin-top:30px;
  font-weight: normal;
  font-size:16px;
}
.wow{
  background-color:#ee5253;
}
.landing-page p {
  opacity: 0.7;
  margin-bottom: 5px;
  font-size:20px;
}
.landing-logo{
  margin:0 auto;
}
.landing-logo img{
  margin:40px 20px;
  width:auto;
  height:40px;
  opacity:0.8;
}
.landing-logo img:hover{
  opacity:1;
}
.tombol a{
  color:white;
}
.tombol{
  display:inline-block;
  margin-top:50px;
  padding:15px 40px;
  background-color:#5dca88;
  opacity:0.8;
  cursor:pointer;
  box-shadow:0px 7px #1a7940;
  border-radius:10px;
}
.tombol:hover{
  transition:0.5s;
  opacity:1;
}
.tombol:active{
  box-shadow:none;
  position:relative;
  top:7px;
}

/* INI ABOUT */
.lesson-wrapper {
    height: 650px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
    
}
.heading {
    padding-top: 50px;
    padding-bottom: 30px;
    color: #5f5d60;
}
.heading h2 {
    font-size: 50px;
    font-weight: bold;
}
.lesson {
    float: left;
    width: 33%;
}
.lesson-icon {
    position: relative;
}
.lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}
.lesson-icon img {
    width: 300px;
    height: 350px;
    border-radius: 10%;
}
.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}
.gambar-content h3{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
} 
.btn{
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}
.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
} 
.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}
  
/* INI PROFIL PAGE */  
.container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card {
    width: 230px;
    height: 420px;
    background-color: #d1c2f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 26px 8px rgba(141, 137, 137, 0.75);
    margin-bottom: 30px;
}
.image img {
    width: 180px;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 50%;
    margin: 15px auto 10px;
}
  
.data {
    line-height: 8px;
}
  
.card:hover {
    box-shadow: 5px 5px #474747;
    transition: all 1s;
}
  
.fa {
    margin-right: 20px;
    margin-top: 5px;
}

/* INI FOOTER */
footer {
    padding-top: 30px;
    border-top: 1px solid #b3aeb5;
    width: 100%;
    text-align: center;
}
footer img {
    height: 70px;
}
footer p {
    color: #b3aeb5;
    font-size: 12px
}